.roadmap-section {
    margin-top: 5rem;
}

.events-wrapper {
    overflow: visible!important;
    padding: 0 60px!important;
}

.events-wrapper .events {
    padding: 0 60px!important;
}

.milestone {
    border-radius: 20px;
}

.milestone-header {
    text-align: left;
    font-weight: bold;
    padding-left: 10px;
}

.milestones-container {
    list-style: none;
    margin-left: 0;
    padding-left: 10px;
    text-align: left;
    color: #fff;
}
