.eco-card {
    min-height: 566px;
    border-radius: 20px;
    height: 100%;
}
.eco-card.suite {
    background-image: linear-gradient(63deg, #00d0ff, #001ada);
}
.eco-card.arena {
    background-image: linear-gradient(68deg, #cf38da, #7400a4);
}

.eco-card.connect {
    background-image: linear-gradient(70deg, #ffb158, #ff6427);
}
