.cards {
  display: flex;
  min-width: 100%;
  min-height: 120px;
  margin-top: 10rem;
  height: auto;
  max-height: 200px;
  display: relative;
  margin: 0 auto;
  overflow-x: auto;
}
.card::-webkit-scrollbar {
  display: none;
}
.card-content {
  background-color: #ecf0f1;
  min-width: 200px;
  margin: 5px;
  padding: 5px;
  color: #34495e;
  height: auto;
  max-height: 200px;
}

.upcomingEvents {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
    overflow: hidden;
}

.events-wrapper {
    overflow: visible !important;
    padding: 0 60px !important;
}

.events-wrapper .events {
    padding: 0 60px !important;
}

.event {
    border-radius: 20px;
}

.event-header {
    text-align: left;
    font-weight: bold;
    padding: 10px 10px 0px 10px;
}

.events-container {
    list-style: none;
    margin-left: 0;
    padding-left: 10px;
    text-align: left;
    color: #fff;
}

@media (max-width: 576px) {
  .event-header {
    font-size: 1.5rem;
  }
}
