
.token-sale-box {
  width: 554px;
  height: 302px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.graph {
  width: 411.7px;
  height: 17px;
  border-radius: 20px;
  border: solid 2px transparent;
  background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(to left, #ffb158, #ff6427);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.circle {
  width: 36px;
  height: 36px;
  border: solid 4px #ffffff;
  border-radius: 18px;
}
.token-text {
  width: 411.7px;
  display: flex;
  justify-content: space-between;
}
.graph-left {
  width: 195px;
  height: 13px;
  border-radius: 20px;
  background-image: linear-gradient(to left, #ffb158, #ff6427);
}
.graph-right {
  width: 411.7px;
  height: 17px;
  border-radius: 20px;
  border: solid 2px transparent;
  background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(to left, #ffb158, #ff6427);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.token-sale-header {
  width: 554px;
  height: 89px;
  background-image: linear-gradient(to left, #ffb158, #ff6427);
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.main {
    background-image: linear-gradient(80deg, #cf38da, #7400a4);
    clip-path: polygon(0 0%, 100% 0, 100% 74%, 0% 100%);
    -webkit-clip-path: polygon(0 0%, 100% 0, 100% 74%, 0% 100%);
    padding-bottom: 7rem;
    padding-top: 4rem;
}

.main__download {
    width: 200px;
}

.btn.main__button {
    text-align: left;
    color: #ce38da;
    border-radius: 0.4rem;
    background-color: #fff;
    border-color: transparent;
    margin-bottom: 0.3rem;
}

.main__button__container {
    /* margin-bottom: 0.3rem; */
    width: 250px;
    margin-right: 0.3rem;
}

.main__button__container .dropdown-menu {
    width: 250px;
}

.main-shape-1 {
    position: absolute;
    right: 0;
    top: 0;
    display: table;
    z-index: -1;
}

.main-shape-2 {
    position: absolute;
    left: 0;
    bottom: 10%;
    display: table;
    z-index: -1;
}

@media (max-width: 576px) {
    .main {
        clip-path: polygon(0 0%, 100% 0, 100% 90%, 0% 100%);
        -webkit-clip-path: polygon(0 0%, 100% 0, 100% 90%, 0% 100%);
    }

    .main-shape-1 {
        width: 70%;
    }

    .main-shape-2 {
        width: 80%;
        bottom: 0;
    }
}

@media (max-width: 768px) {
    .btn.main__button {
        width: 250px;
    }
  .token-sale-box {
    width: 95%;
  }
  .token-sale-header {
    width: 100%;
  }
  .graph {
    width: 90%;
  }
  .token-text {
    width: 90%
  }
}
