.main__download {
    width: 200px;
}
.btn.main__button {
    text-align: left;
    color: #ce38da;
    width: 300;
    border-radius: 0.4rem;
    background-color: #fff;
    border-color: transparent;
}
.main__button__container {
    margin-bottom: 0.3rem;
    width: 250px;
}

.main-shape-1 {
    position: absolute;
    right: 0;
    top: 0;
    display: table;
    z-index: -1;
}

.main-shape-2 {
    position: absolute;
    left: 0;
    bottom: 10%;
    display: table;
    z-index: -1;
}

@media (max-width: 576px) {
    .main-shape-1 {
        width: 70%;
    }
    .main-shape-2  {
        width: 80%;
        bottom: 0;
    }
}

