.team-section {
    background-image: linear-gradient(37deg, #ffb158, #ff6427);
    -webkit-clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 98%);
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 98%);
}

.team-container {
    padding-top: 8rem !important;
    padding-bottom: 10rem !important;
}

.team-profile-row {
    max-height: 420px;
    margin-bottom: 10px;
}

.team-profile-card {
    border-radius: 20px;
}

.block-with-text {
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 3.6em;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
}

.block-with-text::before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}

.block-with-text::after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}

@media (max-width: 768px) {
    .team-container {
        padding-top: 12rem !important;
    }
}

@media (max-width: 576px) {
    .team-section {
        background-image: linear-gradient(37deg, #ffb158, #ff6427);
        -webkit-clip-path: polygon(0 0, 100% 0.8%, 100% 100%, 0 99%);
        clip-path: polygon(0 0, 100% 0.8%, 100% 100%, 0 99%);
    }

    .team-profile-row {
        max-height: none;
        margin-bottom: 0;
    }

    .team-container {
        padding-top: 6rem !important;
    }
}

@media (min-width: 992px) {
    .team-container {
        padding-top: 8rem !important;
    }
}
