.navbar.ares-navbar {
    background-color: transparent !important;
    border-color: transparent;
}

.ares-navbar.navbar-light .navbar-nav > li > a {
    color: #fff;
    white-space: nowrap;
}

img.navbar-logo {
    fill: #fff;
}

.ares-navbar .navbar-nav {
    display: flex;
    justify-content: space-between;
}

.menu-container {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(80deg, #cf38da, #7400a4);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
