.navbar.ares-navbar {
    background-color: transparent!important;
    border-color: transparent;
}

.ares-navbar.navbar-light .navbar-nav > li > a {
    color: #fff;
}

img.navbar-logo  {
    fill: #fff;
}

.ares-navbar .navbar-nav {
    display: flex;
    justify-content: space-between;
}
