html {
    font-size: 1rem;
}

body {
    padding: 0;
    margin: 0;
    font-family: SofiaProRegular, sans-serif;
}

.li.nav-item {
    padding-right: 13px;
    font-size: 1.1rem;
}

.index-container {
    background-color: transparent !important;
    margin-top: 55px;
}

.ares .bg-light {
    background-color: transparent !important;
}

.ares .backdrop {
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0.4;
    display: none;
}

.ares .backdrop.show {
    display: block;
}

@font-face {
    font-family: SofiaProRegular;
    src: url('/fonts/SofiaProRegular.otf');
}

@font-face {
    font-family: SofiaProBold;
    src: url('/fonts/SofiaProBold.otf');
}

@font-face {
    font-family: SofiaProLight;
    src: url('/fonts/SofiaProLight.otf');
}

.headline {
    font-family: SofiaProBold, sans-serif;
    line-height: 1.2 !important;
}

.sub-headline {
    font-family: SofiaProRegular, sans-serif;
    color: #fff;
}

.display-2 {
    font-size: 3.5rem;
    margin-bottom: 0;
    line-height: 1;
}

.lead {
    padding-left: 5px;
}

@media (max-width: 576px) {
    .display-1.headline {
        font-size: 2.6rem;
    }

    .display-2.headline {
        font-size: 2rem;
    }

    .sub-headline {
        font-size: 0.8rem;
    }
}
