body {
  padding: 0;
  margin: 0;
}

.index-container {
  background-color: transparent!important;
}

.ares .bg-light {
  background-color: transparent!important;
}
.main {
  background-image: linear-gradient(80deg, #cf38da, #7400a4);
  clip-path: polygon(0 1%, 100% 0, 100% 85%, 0% 100%);
  -webkit-clip-path: polygon(0 1%, 100% 0, 100% 85%, 0% 100%);
}
