.token-detail-section {
    min-height: 500px;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 0rem;
}
.token-detail-section .background-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.background-container .custom-shape {
    width: 100%;
    height: 50%;
}

.token-detail-section .background-container .custom-shape-1 {
    background-image: linear-gradient(180deg, #00d0ff, rgba(255, 255, 255, 0));
    -webkit-clip-path: polygon(0 6%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 26%, 100% 0%, 100% 100%, 0% 100%);
}

