.partners-section {
    margin-top: -10px;
    padding-top: 5rem;
    padding-bottom: 12rem;
    color: #9B9B9B;
    position: relative;
}
.partners-link {
    height: 160px;
}
.partners-heading {
    margin-bottom: 88px;
}
.custom-shape-5 {
    position: absolute;
    left: 40%;
    top: -100px;
    display: table;
}
.custom-shape-6 {
    position: absolute;
    right: 10%;
    bottom: -200px;
    display: table;
    z-index: -1;
}

@media (max-width: 576px) {
    .partners-section {
        -webkit-clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 95%);
        clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 97%);
        padding-bottom: 8rem;
    }
    .pb-4, .py-4 {
        padding-bottom: 1rem!important;
    }
    .partners-link {
        height: 100px;
    }
    .custom-shape-5 {
        width: 70%;
        left: 25%;
    }
    .custom-shape-6 {
        width: 85%;
        right: 10%;
        bottom: -60px;
    }
}
