.partners-section {
    -webkit-clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 95%);
    clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 95%);
    background-image: linear-gradient(55deg, #ffb158, #ff6427);
    margin-top: -10px;
}

.custom-shape-5 {
    position: absolute;
    left: 0;
    top: 0;
    display: table;
    z-index: -1;
}

.custom-shape-6 {
    position: absolute;
    right: 0;
    top: 0;
    display: table;
    z-index: -1;
}

.custom-shape-8 {
    position: absolute;
    left: 30px;
    bottom: 0;
    display: table;
    z-index: -1;
}

.custom-shape-7 {
    position: absolute;
    right: 0;
    bottom: 0;
    display: table;
    z-index: -1;
}

@media (max-width: 576px) {
    .partners-section {
        -webkit-clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 95%);
        clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 97%);
    }

    .custom-shape-5 {
        width: 64%;
        top: 0;
    }

    .custom-shape-6 {
        width: 35%;
        top: -20px;
        right: 0;
    }

    .custom-shape-7 {
        width: 35%;
        bottom: 0;
    }

    .custom-shape-8 {
        width: 75%;
        right: -50px;
        bottom: 0;
    }
}

