.token-usage-section {
    min-height: 500px;
    position: relative;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.token-usage-section .background-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: -1;
}

.token-usage-section .background-container .custom-shape {
    width: 100%;
    height: 45%;
}

.token-usage-section .background-container .custom-shape-1 {
    background-image: linear-gradient(360deg, #eaafef, rgba(255, 255, 255, 0));
    -webkit-clip-path: polygon(0 1%, 100% 0, 100% 78%, 0% 100%);
    clip-path: polygon(0 1%, 100% 0, 100% 78%, 0% 100%);
}

.token-usage-distribute-chart {
    position: absolute;
    background-image: url('/images/token-usage-distribution-chart.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.token-usage-item {
    position: absolute;
    border-radius: 10px;
}

.token-usage-item.token-usage-item-0 {
    top: -5%;
    right: 24%;
}

.token-usage-item.token-usage-item-1 {
    top: 46%;
    right: 22%;
}

.token-usage-item.token-usage-item-2 {
    bottom: 9%;
    left: 28%;
}

.token-usage-item.token-usage-item-3 {
    top: 34%;
    left: 19%;
}

.token-usage-item.token-usage-item-4 {
    top: -5%;
    left: 26%;
}

.token-usage-item.token-usage-item-5 {
    bottom: 15%;
    left: 30%;
}

@media (max-width: 576px) {
    .token-usage-item {
        display: none;
    }

    .token-usage-section {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}
