.media-section {
    height: 900px;
}
.card-body.carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-body.carousel-item h3 {
    text-align: center;
    padding: 0 70px;
    font-size: 1.5rem;
    color: #001ada;
    font-family: SofiaProBold;
}

@media (max-width: 576px) {
    .card-body.carousel-item h3 {
        padding: 0 10px;
        font-size: 1.2rem;
        color: #001ada;
        font-family: SofiaProBold;
    }
}

.media-section .card,
.slider-frame,
.slider-slide {
    border-radius: 20px!important;
}

