.token-sale-section {
    min-height: 500px;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 0rem;
}

.token-sale-section .background-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: -1;
}

.token-sale-section .background-container .custom-shape {
    width: 100%;
    height: 48%;
}

.token-sale-section .background-container .custom-shape-1 {
    background-image: linear-gradient(360deg, #eaafef, rgba(255, 255, 255, 0));
    -webkit-clip-path: polygon(0 1%, 100% 0, 100% 78%, 0% 100%);
    clip-path: polygon(0 1%, 100% 0, 100% 78%, 0% 100%);
}

.token-sale-distribute-chart {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
}

.pie-chart {
    position: absolute;
    top: 87px;
    transform: translateX(-50%);
    left: 50%;
}

.token-sale-item {
    position: absolute;
    border-radius: 10px;
}

.token-sale-item.token-sale-item-0 {
    top: 2%;
    left: 41%;
}

.token-sale-item.token-sale-item-1 {
    top: 10%;
    left: 60%;
}

.token-sale-item.token-sale-item-2 {
    top: 22%;
    right: 20%;
}

.token-sale-item.token-sale-item-3 {
    top: 34%;
    right: 16%;
}

.token-sale-item.token-sale-item-4 {
    top: 58%;
    right: 24%;
}

.token-sale-item.token-sale-item-5 {
    bottom: 25%;
    left: 30%;
}

.token-sale-item.token-sale-item-6 {
    top: 40%;
    left: 20%;
}

.token-sale-item.token-sale-item-7 {
    top: 15%;
    left: 25%;
}

@media (max-width: 576px) {
    .pie-chart {
        position: absolute;
        top: 5px;
        transform: translateX(-50%);
        left: 50%;
    }

    .token-sale-item-container {
        padding-top: 10px !important;
    }

    .token-sale-distribute-chart {
        background-image: none;
    }

    .token-sale-distribute-chart.mobile-only {
        display: block !important;
        height: 335px;
    }

    .token-sale-item {
        position: relative;
        left: 0 !important;
        top: 0 !important;
    }

    .token-sale-section {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}
